* {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
}

html {
    background-color: rgb(255, 237, 183);
    scroll-behavior: smooth;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(HHbackground2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    position:fixed;
    background-color: rgba(77, 75, 11, 0.6)
}

nav img {
    width: 90px;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links ul li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(243, 255, 73);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li :hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: rgb(247, 245, 167);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 3.8rem;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 1.6rem;
    color: whitesmoke;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 22px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid rgb(209, 228, 45);
    background: rgb(209, 228, 45);;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 40px;
    }
    .nav-links ul li {
       display: block;
    }
    .nav-links {
       position: absolute;
       background: rgb(26, 26, 26);
       height: 100vh;
       width: 200px;
       top: 0;
       right: -200px;
       text-align: left;
       z-index: 2;
       transition: 1s;
    }
    nav .fa{
        display: block;
        color: rgb(224, 224, 224);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .icons-header .fa {
        margin-bottom: 115px;
    }
}

/*------Kuvia------*/

.kuvia {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
}

.kuvia-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.kuvia p {
    font-size: 1.6rem;
}

#kuvia-kuvat {
    width: 90%;
    border-radius: 10px;
}

@media(max-width:700px) {
    .kuvia {
        width: 90%;
        padding: 0;
        flex-direction: column;
        padding-bottom: 30px;
    }
    .kuvia-list {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/*------Tuotteemme------*/

.header-tuotteemme {
    min-height: max-content;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.tuotteemme {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 140px;
}

.tuotteemme h1 {
    font-size: 2.6rem;
    margin-bottom: 10px;
}

.tuotteemme h3 {
    text-align: center;
}

.tuotteemme-info {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    font-size: 1.2rem;
}
#tuotteemme-kuva {
    width: 40%;
    border-radius: 30px;
    float:left;
    padding: 10px;
}

.tuotteemme-list {
    background-color: rgb(253, 240, 125);
    border-radius: 20px;
}

@media(max-width:700px) {
    #tuotteemme-kuva {
        width: 100%;
        padding: 0;
    }
}

/*------ Tarinamme ------*/

.header-tarinamme {
    min-height: max-content;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.tarinamme {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 140px;
}

.tarinamme h1 {
    font-size: 2.6rem;
}

.tarinamme h3 {
    text-align: center;
}

.tarinamme-info {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    font-size: 1.2rem;
}
#tarinamme-kuva {
    width: 40%;
    border-radius: 10px;
    float:left;
    padding: 10px;
}
@media(max-width:700px) {
    #tarinamme-kuva {
        width: 100%;
        padding: 0;
    }
}

/*------Tuotteemme------*/

.header-tuotteemme {
    min-height: max-content;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.tuotteemme {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 140px;
}

.tuotteemme h1 {
    font-size: 2.6rem;
    margin-bottom: 10px;
}

.tuotteemme h3 {
    text-align: center;
}

.tuotteemme-info {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    font-size: 1.2rem;
}
#tuotteemme-kuva {
    width: 40%;
    border-radius: 30px;
    float:left;
    padding: 10px;
}

.tuotteemme-list {
    background-color: rgb(253, 240, 125);
    border-radius: 20px;
}

@media(max-width:700px) {
    #tuotteemme-kuva {
        width: 100%;
        padding: 0;
    }
}

/*------ Yhteystiedot/Footer ------*/

.footer-image {
    margin: 10px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(HHwallpaper.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    padding: 150px 0;
}
.footer-image h1 {
    color: whitesmoke;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px) {
    .footer-image h1 {
        font-size: 30px;
    }
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: rgb(255, 226, 62);
}
.footer h3 {
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p {
    font-size: 1.3rem;
}

.footer-hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 22px;
    background: transparent;
    position: relative;
    cursor: pointer;
    bottom: 120px;
}
.footer-hero-btn:hover {
    border: 1px solid rgb(209, 228, 45);
    background: rgb(209, 228, 45);;
    transition: 1s;
}

#e-mail-p{
    position: relative;
    bottom: 270px;
    font-size: 1.7rem;
    color:blanchedalmond;
}

.icons {
    display: block;
    background-color: rgba(83, 75, 1, 0.7)
}

.icons .fa {
    color: #fdd6d3;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 30px;
}

.header-icons {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.icons-header .fa {
    color: #fdd6d3;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 30px;
    position: relative;
    bottom: 120px;
    text-align: center;
}

.fa-facebook:hover {
    color:darkviolet;
    transition: 0.5s;
}
.fa-twitter:hover {
    color:darkviolet;
    transition: 0.5s;
}
.fa-instagram:hover {
    color:darkviolet;
    transition: 0.5s;
}
