:root {
    --gradient-100: linear-gradient(
        45deg,
        rgb(253, 253, 221),
        rgb(253, 253, 190),
        rgb(253, 253, 150),
        rgb(253, 253, 221)
    );
    --gradient-300: linear-gradient(
        15deg,
        rgb(238, 208, 75),
        rgb(248, 247, 168),
        rgb(245, 245, 181),
        rgb(224, 224, 79)
    );

    --clr-primary-200: hsl(46, 48%, 76%);
    --clr-primary-300: hsl(56, 100%, 79%);
    --clr-primary-400: hsl(66, 100%, 70%);

    --clr-neutral-100: rgb(255, 253, 242);
    --clr-neutral-900: rgb(46, 46, 46);

    --ff-primary: 'Libre Baskerville', serif;
    --ff-accent: 'Amatic SC', sans-serif;

    --fz-primary-200: 1.1rem;
    --fz-primary-400: 1.5rem;
    --fz-accent-600: 2.5rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--clr-primary-400);
    color: var(--clr-neutral-900);
}

html {
    background: var(--gradient-100);
    font-family: var(--ff-primary);
    font-size: var(--fz-primary-200);
    line-height: 1.4;
    scroll-behavior: smooth;
}

.ff-accent { 
    font-family: var(--ff-accent);
}

h1 {
    font-family: var(--ff-accent);
    font-size: var(--fz-accent-600);
}
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-accent);
    font-size: var(--fz-primary-400);
    line-height: 1;
}
h4 {
    font-size: 1.3rem;
    font-weight: 1;
    color:var(--clr-neutral-100);
}
p {
    font-family: var(--ff-accent);
    color: var(--clr-neutral-900);
    font-size: 1.2rem;
    font-weight: 2;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(HHbackground2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position:fixed;
    background-color: rgba(65, 63, 28, 0.5);
}

nav img {
    width: 80px;
}

.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links a {
    color: var(--clr-neutral-100);
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-links li ::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--clr-primary-400);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links li :hover::after {
    width: 100%;
}

.text-box {
    width: 100%;
    color: var(--clr-primary-200);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 3.8rem;
}

.text-box p {
    margin: 10px 0 40px;
    color: var(--clr-neutral-100);
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-family: var(--ff-accent);
    font-size: 1.1rem;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover {
    border: 1px solid var(--clr-primary-400);
    background: var(--clr-primary-400);
    transition: 1s;
}

nav .fa{
    display: none;
}

@media (max-width: 700px) {
    .text-box h1 {
        font-size: 40px;
    }
    .nav-links ul li {
       display: block;
    }
    .nav-links {
       position: absolute;
       background: var(--clr-neutral-900);
       height: 100vh;
       width: 200px;
       top: 0;
       right: -200px;
       text-align: left;
       z-index: 2;
       transition: 1s;
    }
    nav .fa{
        display: block;
        color: var(--clr-neutral-100);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .icons-header .fa {
        margin-bottom: 115px;
    }
}

/*------Kuvia------*/

.upotukset {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.kuvia {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 80px;
}

.upotukset-list {
    width: 100%;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    margin: 0 1.5em .5em 0;
}

.kuvia-list {
    width: 100%;
    border-radius: 70px;
    border-color: coral;
    margin: 0 1.5em .5em 0;
    padding-left: 30px;
}

.upotukset > * {
    flex: 1 1 33%;
}

.upotukset p {
    font-weight: 700;
}

.kuvia > * {
    flex: 1 1 33%;
}

.kuvia p {
    font-weight: 700;
}

#kuvia-kuvat {
    width: 100%;
    border-radius: 25px;
    padding: 5px;
}

@media(max-width:700px) {
    .upotukset {
        width: 100%;
        margin: auto;
        align-items: center;
        padding-bottom: 5px;
    }
    .upotukset-list {
        padding-top: 10px;
        flex: 100%;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .kuvia {
        width: 100%;
        padding: 0;
        padding-bottom: 5px;
    }
    .kuvia-list {
        padding-top: 10px;
        padding-bottom: 10px;
        flex: 100%;
        padding-left: 30px;
    }
}

/*------Tuotteemme------*/

.header-tuotteemme {
    min-height: max-content;
    background-position: center;
    background-size: cover;
    position: relative;
}

.tuotteemme {
    width: 80%;
    margin: auto;
}

.tuotteemme-info {
    border-radius: 10px;
    text-align: left;
}
#tuotteemme-kuva {
    width: 10%;
    border-radius: 30px;
    float: left;
    margin: 0 1.5em .5em 0;
}

.tuotteemme-list {
    background-color: var(--clr-primary-300);
    border-radius: 20px;
}

@media(max-width:700px) {
    #tuotteemme-kuva {
        width: 100%;
        padding: 0;
    }
}

/*------ Tarinamme ------*/

.header-tarinamme {
    min-height: max-content;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.tarinamme {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 140px;
}

.tarinamme h3 {
    text-align: center;
}

.tarinamme-info {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
#tarinamme-kuva {
    width: 40%;
    border-radius: 10px;
    float:left;
    padding: 20px;
}
@media(max-width:700px) {
    #tarinamme-kuva {
        width: 100%;
        padding: 10px;
    }
}

/*------Tuotteemme------*/

.header-tuotteemme {
    min-height: max-content;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.tuotteemme {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 140px;
}

.tuotteemme h1 {
    margin-bottom: 10px;
}

.tuotteemme p {
    font-family: var(--ff-primary);
    font-size: 0.9rem;
}

.tuotteemme h3 {
    text-align: center;
}

.tuotteemme-info {
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
#tuotteemme-kuva {
    width: 40%;
    border-radius: 30px;
    float: left;
    padding: 10px;
}

.tuotteemme-list {
    background-color: var(--clr-primary-300);
    border-radius: 20px;
}

@media(max-width:700px) {
    #tuotteemme-kuva {
        width: 100%;
        padding: 0;
    }
}

/*------ Yhteystiedot/Footer ------*/

.footer-image {
    margin: 10px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(HHwallpaper.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    text-align: center;
    padding: 150px 0;
}
.footer-image h1 {
    color: var(--clr-neutral-100);
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px) {
    .footer-image h1 {
        font-size: 30px;
    }
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: var(--gradient-300);
}
.footer h3 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.footer-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px;
}

.footer-text {
    flex: 1 1 33%;
    text-align: center;
    padding: 10px;
}

.footer-hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-family: var(--ff-accent);
    font-size: 1.1rem;
    background: transparent;
    position: relative;
    cursor: pointer;
    top: 90px;
}
.footer-hero-btn:hover {
    border: 1px solid var(--clr-primary-400);
    background: var(--clr-primary-400);
    transition: 1s;
}

#e-mail-p{
    position: relative;
    bottom: 50px;
    font-family: var(--ff-accent);
    font-size: 1.5rem;
    color:var(--clr-neutral-100);
}

.icons {
    display: block;
    background-color: rgba(83, 75, 1, 0.7)
}

.icons .fa {
    color:var(--clr-neutral-100);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 30px;
}

.header-icons {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.icons-header .fa {
    color: var(--clr-neutral-100);
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
    font-size: 30px;
    position: relative;
    bottom: 120px;
    text-align: center;
}

.fa-facebook:hover {
    color: var(--clr-primary-400);
    transition: 0.5s;
}
.fa-twitter:hover {
    color: var(--clr-primary-400);
    transition: 0.5s;
}
.fa-instagram:hover {
    color: var(--clr-primary-400);
    transition: 0.5s;
}
